:root {
	scroll-behavior: smooth;
	--color-white: #fff;
	--color-black: #000;
	--color-primary: #4154f1;
	--color-secondary: #717ff5;
	--color-tirtiary: #7963f0;
}

/* ========================== */
/* base */
/* ========================== */

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Inter', sans-serif !important;
	text-transform: capitalize;
	text-decoration: none;
	list-style-type: none;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif !important;
	font-size: 1.4rem;
	overflow-x: hidden;
	background-color: var(--color-white);
	color: var(--color-black);
}

/* ========================== */
/* utilities */
/* ========================== */

.card-title {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 22px !important;
	line-height: 3.2rem;
	letter-spacing: -0.0916667px;
	color: #0d0a19;
}

.dashboard-page .card-title {
	font-size: 1.6rem !important;
}

.input,
button {
	background-color: transparent;
	border: none;
	outline: none;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	padding: 1.2rem 2.4rem;
	background-color: var(--color-white);
	color: var(--color-black);
	border: none;
	outline: none;
	transition: all 0.3s;
}

.text {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 2rem;
	letter-spacing: -0.1px;
	color: #9a9ea7;
}

h4 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 2.2rem;
	line-height: 3.2rem;
	letter-spacing: -0.0916667px;
	color: #0d0a19;
}

a {
	color: var(--color-primary);
	text-decoration: none;
	transition: all 0.3s;
}

a:hover {
	color: var(--color-secondary);
	text-decoration: none;
}

.icon {
	height: 2.2rem;
	width: 2.2rem;
	fill: #9a9ea7;
}
